<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head")  %>
<body class="container is-flex-column-center">
  <header>
    <h1 class="has-text-black">Error</h1>
  </header>
  <main>
    <img src="/404Vader.jpeg" alt="DarthVader">
  </main>
</body>
</html>