<%- include("../partials/header", { title: "Home" }) %>
<main>
  <article>
    <p>
      Welcome to my blog.
    </p>
  </article>
  <ul>
    <li> 
      <a href="posts">
        Posts
      </a> 
    </li>
  </ul>
</main>