<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head")  %>
<body class="container is-flex-column-center">
  <header>
    <h2 class="has-text-black"><%- post.title %></h2>
  </header>
  <main>
    <p><%- post.article %></p>
  </main>
</body>
</html>