<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head")  %>
<body class="container is-flex-column-center">
  <%- include("../partials/header", { title: "Unauthorized" }) %>
  <main>
    <img src="/401.jpeg" alt="Police Kicking Criminal">
  </main>
</body>
</html>